@import "vars";

.sidebar {
  padding-top: $top_margin;
  width: 300px;
  background: $sidebar;

  &__item {
    color: #e5e5e5;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 22px 20px;
    cursor: pointer;
    
    &:hover {
      //background: #efefef;
      background: #ffffff12;
    }

    &.active {
      font-weight: 500;
      //background: $gradient;
      color: #9eaad9;
      background: #ffffff1c;
    }
  }
}